* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

body h1,
body h2,
body h3 {
  font-size: 1.5em;
}

body h3 {
  text-align: center;
}

body header nav {
  padding-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: auto;
  background: #6F00A3;
  background-size: cover;
  height: auto;
  padding-bottom: 3vh;
}

body header nav #lien {
  width: 100vw;
  position: fixed;
  background: #6F00A3;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 1em;
  z-index: 10;
}

body header nav #rond {
  border-radius: 50%;
  width: 20vw;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body header nav #rond:hover {
  width: 21vw;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body header nav a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
  font-size: 1em;
}

body header nav a h1:after {
  display: block;
  height: 2px;
  background-color: #12df2a;
  width: 100px;
  content: " ";
  margin: 0 auto;
  margin-top: 10px;
}

body header nav a:hover {
  color: #12df2a;
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

body header nav ul li a {
  text-decoration: none;
  color: lightgray;
}

body header nav ul li a:hover {
  color: #12df2a;
}

body .emote {
  height: 112.5px;
  width: 100px;
  display: block;
  margin: auto;
  padding-bottom: 8vh;
  padding-top: 10vh;
}

body .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 5vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body #profile {
  background-color: whitesmoke;
  width: 100vw;
  padding-bottom: 10vh;
}

body #profile #profiletitre {
  padding-bottom: 5vh;
  color: #7d05b5;
}

body #profile #block_profile {
  margin-right: auto;
  margin-left: auto;
}

body #profile #block_profile .textprofile {
  text-align: center;
  font-size: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-bottom: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #profile #block_profile .textprofile #button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  -webkit-box-shadow: 0 9px #999;
          box-shadow: 0 9px #999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #6F00A3;
  color: white;
}

body #profile #block_profile .textprofile #button:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: #05cdfe;
  color: white;
}

body #profile #block_profile .textprofile #button:active {
  background-color: #12df2a;
  -webkit-box-shadow: 0 5px #666;
          box-shadow: 0 5px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

body #profile #block_profile .textprofile #coumeur_dev {
  color: #7d05b5;
  font-size: 1.2em;
}

body #profile #block_profile .textprofile table {
  border: 5px solid #c800ff;
}

body #profile #block_profile .textprofile table tr td {
  border: 5px solid #1291df;
}

body #profile #block_profile .textprofile table tr td .couleur {
  color: #6F00A3;
}

body #Technologies {
  background-color: white;
  width: 100vw;
  padding-bottom: 10vh;
}

body #Technologies #titre_comp {
  padding-bottom: 10vh;
}

body #Technologies .imgtail {
  width: 225px;
  height: 220px;
  margin: auto;
}

body #Technologies figcaption {
  background-color: none;
  color: black;
  font: sans-serif;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 10vh;
}

body #rea {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0775e64d), to(#00f26066)), url(../images/paralax.png);
  background-image: linear-gradient(#0775e64d, #00f26066), url(../images/paralax.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: opacity(75%);
          filter: opacity(75%);
}

body #rea #titre_rea {
  color: whitesmoke;
  -webkit-filter: brightness(0) invert(100%);
          filter: brightness(0) invert(100%);
  padding-bottom: 10vh;
}

body #rea #block_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: auto;
}

body #rea #block_project .margin {
  margin: auto;
}

body #rea #block_project .margin .project {
  width: 30vw;
  height: auto;
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0.92;
}

body #rea #block_project .margin .project:hover {
  width: 40vw;
  height: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}

body #rea #block_project .margin figcaption {
  background-color: none;
  color: #fff;
  font: sans-serif;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 10vh;
}

body #contact {
  background-color: whitesmoke;
}

body #contact #titrecontacte {
  padding-bottom: 10vh;
}

body #contact .espace {
  padding-bottom: 10vh;
  height: 5vh;
  width: 5vh;
  display: block;
  margin: auto;
}

body #contact .buttonemot {
  width: 20vw;
  height: 35vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  cursor: pointer;
  border-radius: 25px;
  -webkit-box-shadow: 0 9px #999;
          box-shadow: 0 9px #999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #6F00A3;
  color: whitesmoke;
}

body #contact .buttonemot img {
  -webkit-filter: brightness(0) invert(100%);
          filter: brightness(0) invert(100%);
}

body #contact .buttonemot:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: #12df2a;
  color: white;
}

body #contact .buttonemot:active {
  background-color: #05cdfe;
  -webkit-box-shadow: 0 5px #666;
          box-shadow: 0 5px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

body footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #6F00A3;
  color: lightgray;
  font-size: 2em;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

body footer:hover {
  color: #12df2a;
}

@media screen and (max-width: 1199px) {
  #columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .buttonemot {
    margin-bottom: 10vh;
  }
}

@media screen and (max-width: 1129px) {
  body .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body #rea #block_project .margin a .project {
    width: 50vw;
    height: auto;
  }
  body #rea #block_project .margin a .project:hover {
    width: 60vw;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */